<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/homenavbar.ejs') %>
            <h1>
                testing
            </h1>
    </body>
    <%- include('partials/footer.ejs') %>